$font_title:'Montserrat',
sans-serif;
$font_text: 'Lato',
sans-serif;

$color1: #80d3fd;
$color2: #519e19;
$color3: #ee5254;
$color4: #ffc107;

@for $n from 0 through 10 {
    .pad_#{$n} {
        padding: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .pad_inl_#{$n} {
        padding-inline: .5rem * $n;
        padding-left: .5rem * $n;
        padding-right: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .pad_block_#{$n} {
        padding-block: .5rem * $n;
        padding-top: .5rem * $n;
        padding-bottom: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .pad_l_#{$n} {
        padding-left: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .pad_r_#{$n} {
        padding-right: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .pad_b_#{$n} {
        padding-bottom: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .pad_t_#{$n} {
        padding-top: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .mar_#{$n} {
        margin: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .mar_block_#{$n} {
        margin: .5rem * $n;
        margin-top: .5rem * $n;
        margin-bottom: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .mar_inl_#{$n} {
        margin: .5rem * $n;
        margin-left: .5rem * $n;
        margin-right: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .mar_l_#{$n} {
        margin-left: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .mar_r_#{$n} {
        margin-right: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .mar_t_#{$n} {
        margin-top: .5rem * $n;
    }
}

@for $n from 0 through 10 {
    .mar_b_#{$n} {
        margin-bottom: .5rem * $n;
    }
}

.center_c {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.center_r {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}


body {
    background-color: #1a0e10;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

h1 {

    font-family: $font_title;
    font-weight: 700;
    font-size: 4rem;
}

h2,
h3,
h4 {
    font-family: $font_title;
    font-weight: 700;

}

p {
    font-family: $font_text;
    font-size: 16px;
    font-weight: 400;
}

header {
    justify-content: space-between;

    img {
        height: 60px;
    }

    nav {
        display: flex;
        align-items: center;
        height: 50px;
        text-decoration: none;
        box-sizing: border-box;

        ul {
            display: flex;
        }

        li {
            list-style: none;
            padding-left: 1rem;
            padding-right: 1rem;

            a {
                font-size: 1.2rem;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;

                &.active {
                    font-weight: 700;
                    color: $color1;
                }

                &:hover {
                    color: #d6d6d6;
                    text-decoration: none;
                }
            }
        }
    }
}

section {
    section {

        padding-top: 5rem;
        padding-bottom: 5rem;

    }

}

footer {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    box-sizing: border-box;

    p {
        font-family: $font_text, sans-serif;
        font-weight: 400;
    }

    ul {
        display: flex;
        margin: 0px;
    }

    li {
        list-style: none;
        padding-left: 1rem;
        padding-right: 1rem;

        a {
            color: rgb(0, 0, 0);
            text-transform: uppercase;
            text-decoration: none;
        }

    }

}