@import "main";

/* comienza nosotros */

#nosotros {
    justify-content: space-evenly;
    background-color: #f8f8ff;
    position: relative;
    z-index: 2;
    background-image: url(../img/textura.png);

    .sombra_top {
        box-shadow: inset 0 15px 20px -5px #ccd0ff;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .sombra_bottom {
        box-shadow: inset 0 -15px 20px -10px #ccd0ff;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    #nos_descripcion {
        justify-content: center;

        h1 {
            color: #000000;
            border: 10px solid #000000;
        }

    }


    #nos_info {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: space-around;
        position: relative;

        .borde {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 5px $color1 solid;
            border-radius: 10px;
            z-index: 3;
        }

        .fondo {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #00a9ff3d;
            z-index: 1;
            border-radius: 10px;
        }

        article {
            padding: 2rem;
            z-index: 2;
        }

        h4 {
            color: #000;
            border-bottom: 3px solid;
        }

        p {
            color: #000;
        }
    }
}

/* termina nosotros */


/* comienza data */

#data {
    background-color: $color3;
    background-image: url(../img/textura5.png);
    background-size: cover;

    article#title_data {
        z-index: 2;
        text-align: center;

        .title_data {
            font-size: 3rem;
            color: #fff;
            border-bottom: 7px #fff solid;
            filter: drop-shadow(0px 1px 5px #ac0c0c);
        }
    }

    article.data {
        div {
            h4 {
                font-weight: 900;
                color: #000000d1;
                text-shadow: 0px 2px 2px #ffffff87,
                    0 0 0 #000,
                    1px 4px 6px transparent;
            }

            p {
                color: #fff;
                font-weight: 700;
                letter-spacing: 1px;
                margin: 0px;
                padding-bottom: .6rem;
            }

            i {
                color: #ffffff00;
                text-shadow: 0px 2px 2px #fff,
                    0 0 0 #222,
                    1px 4px 6px transparent;
                padding-bottom: 1rem;
                filter: drop-shadow(0px 1px 5px #dd2424);
            }

            .linea {
                border-bottom: 4px solid #000;
            }
        }
    }
}

/* termina data */


/* comienza conexiones */

#conexiones {
    background: #f8f8ff;
    background-image: url(../img/textura2.png);
    position: relative;
    justify-content: space-evenly;

    .sombra_top {
        box-shadow: inset 0 15px 20px -5px #ccd0ff;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .sombra_bottom {
        box-shadow: inset 0 -15px 20px -10px #ccd0ff;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    .title_conex {
        filter: drop-shadow(0px 1px 15px #dfdfdf);

        h2 {
            color: rgba(0, 0, 0, 0.7);
            text-shadow: 0px 2px 2px #fff,
                0 0 0 #000,
                1px 4px 6px transparent;

            .conex {
                color: $color2;
                text-shadow: 0px 2px 2px #fff,
                    0 0 0 #000,
                    1px 4px 6px transparent;
            }
        }
    }

    article {
        li {
            list-style-position: inside;
        }
    }
}

/* termina conexiones */


/* comienza participantes */

#participantes {
    position: relative;
    background-color: #fff;

    .textura {
        width: 100%;
        height: 100%;
        background-image: url(../img/textura4.png);
        background-size: cover;
        position: absolute;
        z-index: 2;

    }

    #equipo {
        background-color: #ffc10787;
        z-index: 3;
        position: relative;

        #title_equipo {
            font-size: 3rem;
            color: #000;
            padding-bottom: .5rem;
            border-bottom: 7px #000 solid;

        }


        article {

            display: flex;
            flex-flow: row wrap;

            justify-content: center;
            text-align: center;
            padding-top: 3rem;


            .card {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: space-between;
                background-color: #f8f8ff;
                filter: drop-shadow(0px 1px 15px #d09c00);
                border-radius: 10px;
                border: 2px solid #dfdfdf;
                box-shadow: inset 0 -2px 15px 0px #d7d9f0;
                margin-inline: 1.5rem;
                margin-right: 1.5rem;
                position: relative;

                padding-left: 1rem;
                padding-right: 1rem;

                div {
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    padding: .5rem;
                }

                ul {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    padding: 0px;
                }

                li {
                    display: flex;
                    padding-left: 1rem;
                    padding-right: 1rem;

                    i {
                        color: $color4;
                        transition: .2s ease-in-out;

                        &:hover {
                            color: rgba(255, 193, 7, 0.75);
                            text-shadow: 0px 2px 2px #fff,
                                0 0 0 #000,
                                1px 4px 6px transparent;
                        }
                    }
                }

                img {
                    margin-top: 2rem;
                    border-radius: 50%;
                    margin-bottom: 2rem;
                    filter: drop-shadow(0px 0px 5px #e1e1e1);

                }

                p {
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                }

            }
        }
    }



    #confiaron {
        background: #ffffff;
        background: linear-gradient(0deg, #ffffffe6 10%, #ffc10791 100%);
        text-align: center;
        position: relative;
        z-index: 3;

        #title_confiaron {
            font-size: 3rem;
            color: #000;
            padding-bottom: .5rem;
            border-bottom: 7px #000 solid;
        }

        .confiaron,
        .contribuyeron {
            justify-content: space-evenly;

            .img_confiaron {
                height: 70px;
            }
        }
    }
}

/* termina participantes */


/* comienza footer */

#footer {
    justify-content: center;
    background-color: #000;
    background-image: url(../img/textura2.png);

    #formulario {
        text-align: center;
        justify-content: center;

        h2,
        h5 {
            color: #fff;
            padding: 0px;
            padding-bottom: .5rem;
        }

        span {
            color: $color1;
        }

        form {
            display: flex;
            flex-direction: row wrap;
            padding: 0px;

            fieldset {
                border: medium none !important;
                margin: 0 0 10px;
                padding: 0;
                width: 100%;

                textarea {
                    height: 109px;
                }

                input,
                textarea {
                    box-sizing: border-box;
                    width: 100%;
                    border: 1px solid #ccc;
                    background: #FFF;
                    margin: 0 0 5px;
                    padding: 10px;
                    font-size: 1rem;

                    &:hover {
                        -webkit-transition: border-color 0.3s ease-in-out;
                        -moz-transition: border-color 0.3s ease-in-out;
                        transition: border-color 0.3s ease-in-out;

                        border: 1px solid $color1;
                    }

                    &:focus {
                        outline: 0;
                        border: 1px solid $color2;
                    }
                }

                ::-webkit-input-placeholder {
                    color: #636363;
                }

                :-moz-placeholder {
                    color: #636363;
                }

                ::-moz-placeholder {
                    color: #636363;
                }

                :-ms-input-placeholder {
                    color: #636363;
                }

                select {
                    box-sizing: border-box;
                    width: 100%;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    background: #FFF;
                    margin: 0 0 5px;
                    padding: 10px;
                }

                button {
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    background: $color1;
                    color: #FFF;
                    margin: 0 0 5px;
                    padding: 10px;
                    font-size: 1rem;
                    text-transform: uppercase;

                    &:hover {
                        background: $color2;
                        -webkit-transition: background 0.3s ease-in-out;
                        -moz-transition: background 0.3s ease-in-out;
                        transition: background-color 0.3s ease-in-out;
                    }

                    &:active {
                        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }

    #info {
        justify-content: space-between;

        div {

            p {
                color: #fff;
                margin: 0px;
            }

            img {
                height: 50px;
                padding-right: 1rem;
            }
        }

        ul {
            display: flex;
            flex-flow: row wrap;
        }

        li {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding-left: 1rem;
            padding-right: 0px;

            p {
                color: #fff;
                font-size: 700;
                padding-left: 1rem;
                margin: 0px;
            }

            i {
                color: #fff;
                padding-left: 1rem;
            }
        }
    }
}

/* termina footer */